@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&family=Overpass&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}


.container {
  max-width: 1370px;
  padding: 0 25px;
  margin: 0 auto;
}

body {
  font-size: 22px;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

h3{
  text-transform: capitalize;
}


.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}